.horizontal-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}


.side-menu-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin-top: 10%;
    margin-left: 2%;
    
}

.filter-sorting-container {
    border: 2px solid gray;
    min-width: 50px;
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.filter-sorting-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* align-items: center;
    justify-content: center; */
}

.filter-sorting-header img{
    margin-left: 5px;
}

.filter-sorting-item {
    display: flex;
    justify-content: start;
    padding:5px
    /* align-content: center; */
    /* padding-left: 50px; */
}

.product-content-container {
    padding: 10px;
    display: flexbox;
    justify-content: center;
    width: 100%;
}

.search-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.search-container input {
    min-height: 30px;
    min-width: 50px;
    max-width: 500px;
    /* border-radius: 15px; */
    text-align: center;
    margin-right: 5px;
    /* border-color: gray; */
    background-color: transparent;
    border:none;
    border-bottom: 2px solid gray;
    flex-grow: 1;
}

.search-container img {
    align-self: center;
    justify-content: start;
    background-color: rgba(161, 166, 167, 0.5);
    min-width: 30px;
    min-height: 30px;
    border-radius: 3px;
    
}

.view-content-header {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    background-color: rgb(133, 188, 201);
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.view-grid-item-align-end {
    display: flex;
    justify-self: flex-end;
}

.view-content-header img{
    display: flex;
    justify-self: flex-end;
}

.separator {
    width: 100%;
    height: 1px; /* Set the height of the line */
    background-color: #333; /* Color of the line */
    margin: 20px 0; /* Margin above and below the line */
}

.view-content-list {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    margin-bottom: 20px;
    min-height: 30px;
    background-color: azure;
}

.view-content-list img {
    margin-right: 5px;
}