body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: rgb(233, 242, 248);
}

.common-header-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}

.company-logo {
    height: 50%;
    width: 10%;
    padding-left: 10px;
}

.header-button-container {
    margin-left: 10px;
    align-content: center;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 10px;
}

.header-button-container button {
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.header-button-container button:first-child{
    /* background-color: rgb(133, 188, 201);
    color: white; */
    flex-grow: 1;
}

.header-button-container button:not(:last-child){
    flex-grow: 1;
    margin-left: 10px;
}
.header-button-container button:last-child {
    margin-left: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change background color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}