body {
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input-body-border {
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgb(133, 188, 201);
}

.login-logo {
    color: black;
    height: 50%;
    width: 50%;
}

.login-input-container {
    display: block;
    padding: 10px;
}

.login-input-container input {
    min-height: 30px;
    min-width: 50px;
    border-radius: 5px;
    padding: 5px;
}

.login-button-container {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-button-container button{
    border: none;
    background-color: rgb(227, 236, 240);
    font-weight: bold;
    border-radius: 20px;
    min-height: 40px;
    min-width: 40px;
    margin-right: 10px;
}

.login-input-body-error {
    display: block;
    align-items: center;
}
