.content-border-container {
    border: 5px solid rgb(133, 188, 201);
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: center;
    margin: 50px;
    
}

.product-image {
    padding: 10px;
    max-width: 80%;
    max-height: 80%;
}

.product-content-container {
    justify-self: start;
    align-self: flex-start;
    width: 100%;
}

.product-content-item {
    margin: 30px;
}



.product-content-item textarea{
    resize: vertical;
    width: 60%;
    height: 100px;
    vertical-align: top;
}